<footer class="bg-dark text-white pt-5 pb-3">
    <div class="container">
      <div class="row">
        <!-- About Section -->
        <div class="col-md-4 mb-3">
          <h5>About Us</h5>
          <p>
            We are passionate about education and technology. Our platform provides access to a variety of courses and learning resources, helping students and professionals reach their goals with ease.
          </p>
        </div>
  
        <!-- Quick Links Section -->
        <div class="col-md-4 mb-3">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="/about" class="text-white">About Us</a></li>
            <li><a href="/services" class="text-white">Services</a></li>
           
         
          </ul>
        </div>
  
        <!-- Contact Info Section -->
        <div class="col-md-4 mb-3">
          <h5>Contact</h5>
          <p>
            Email: ghassen@gmail.com
          </p>
          <p>
            Phone: +216 56 953 609
          </p>
          <div>
            <a href="https://www.facebook.com/profile.php?id=100009159970377" class="text-white me-2" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com" class="text-white me-2" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://linkedin.com" class="text-white me-2" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
  
      <!-- Footer Bottom Section -->
      <div class="text-center mt-4 pt-3 border-top">
        <p>&copy; 2024 tek-up.</p>
        <p>BY: ghasen_chayma_amal_yahia</p>
      </div>
    </div>
  </footer>
  